  body {
    font-family: "Lucida Console", "Monaco", monospace;
    box-sizing: border-box;
    background-color: #483C46;
    color: #FFAA5A;
  }

button {
    font-size: 25px;
    font-weight: 600;
    background-color: #CEE0DC;
    margin: 10px auto;
    padding: 8px 8px;
    display: block;
    border-radius: 50px;
    overflow: hidden;
}

button:hover {
    background-color: hsl(212, 89%, 60%);
}

img,
.img {
    display: block;
    margin: auto;
    width: 200px;
    height: auto;
    border-radius: 20px;
    overflow: hidden;
}
h1 {
    text-align: center;
}

.ingredients {
    text-align: left;
    display: flex;
    list-style: none;
    padding: 1px;
}

.ingredients > * {
    border-style: solid;
    list-style: none;
    border-radius: 20px;
    border-width: 5px;
    border-color: #ffaa5a;
    background-color: #ef798a;
    color: #483c46;
    overflow: hidden;
    margin: 0 auto;
}

.ingredients li {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}

/*.ingredients strong {
    background-color: hsl(194, 64%, 44%);
}*/
.h3 {
    font-weight: 600;
    font-size: larger;
    margin-bottom: 10px;
    margin-top: 10px;
}

.h4 {
    font-weight: 600;
    font-size: large;
    margin-bottom: 10px;
    margin-top: 10px;
}

.img-box {
    border: 5px solid #ffaa5a;
    margin: 0px auto;
    width: 250px;
    height: 300px;
    border-radius: 25px;
}

a:link {
    color:#ef798a
}

a:link, a:visited {
    color: #c06170;
}

a:link, a:hover {
    color: #ff8194;
}