* {
    font-family: "Lucida Console", "Monaco", monospace;
}

button,
.home {
    font-size: 25px;
    background-color: hsl(212, 89%, 76%);
    margin: 0 auto;
    display: block;
}

img,
.img {
    display: block;
    margin: auto;
    width: auto;
}
h1 {
    text-align: center;
}