* {
    font-family: "Lucida Console", "Monaco", monospace;
}

button,
.home {
    font-size: 25px;
    background-color: hsl(212, 89%, 76%);
    margin: 0 auto;
    display: block;
}

img,
.img {
    display: block;
    margin: auto;
    width: auto;
}
h1 {
    text-align: center;
}

.ingredients {
    background-color: hsla(194, 64%, 44%, 0.562);
    margin: auto;
    margin-right: 90%;
    border-style: solid;
    border-width: 1px;
}